@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: 0 10px;
}
/*navbar styling*/


.navbar{
    /*background:white;*/
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    position:relative;
}

.navbar.sticky{
    padding: 10px 0;
    background: whitesmoke;
    z-index: 999;
   
}
.navbar .max-width{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
 .navbar .logo a{
     font-size: 18px;
     color: black;
     font-weight: 600;
     font-family: 'Poppins', sans-serif;
 }

 .navbar .logo a span{
     color:#C29729 ;
 }

 /*project*/
.title-mob{
    display: none;
}
 .project{
    margin-bottom: 100px;
 }

.web-title{
    font-size: 30px;
    margin-left: 50px
}
.img .main{
    /*position: absolute;
    margin-left: 80px;*/
    width: 100%;
    height: 79%;
    /*float: left;*/
    border-radius: 10px;
}
.content{
    margin: 10px 75px;
}
.intro{
    margin-top: -350px;
    margin-bottom: 300px;
    text-align: left;
    margin-left: 63%;
}

.text-1{
    font-size: 40px;
    color:black
}

.text-1 span{
 font-weight: 600;
 font-size: 40px;
 color: #C29729;
}
.text-2{
    margin-top: 10px;
}

h1{
margin-bottom: 10px;
}
 
ul{
    list-style-type:none;
    font-size: 16px;
    margin-left: 50px;
 }

 li span{
     font-weight: 600;
     font-size: 16px;
 }

 li{
     margin: 0 15px;
     padding: 10px 10px;
   
 }

 .solution .title,
.challenge .title,
.outcome .title,
.general .content{
margin: 50px 360px;
}
 /*challenge*/

.challenge{
    margin: 0;
    margin-left: 80px;
    margin-top: 150px;
}


.challenge .title{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: -50px;
    margin-right: 150px;
    margin-bottom: 50px;
    font-size: 25px;
}
.challenge .title span{
color:#C29729;
}

.challenge p{
    margin-bottom: 50px;
    font-size: 16px;
    margin: 0 360px;
}

/*solution*/

.solution{
    margin: 0;
    padding-top: 50px;
    margin-left: 80px;
}


.solution .title{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 50px;
    font-size: 24px;
}
.solution .title span{
color:#C29729;
}

.main-goal{
    margin-bottom: 50px;
    font-size: 16px;
    margin: 0 360px;

}
.portfolija-home{
    height: 80%;
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;

}

.lists{
    margin-top: 100px;
}

.candidates{
    height: 80%;
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;
}

.studenti{
    height: 80%;
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
/*forms*/

.student{
    height: 80%;
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;
}

.sovet{
    height: 80%;
    width: 70%;
    margin-top: 50px;
    margin-left: 100px;
}

.images{
    margin-bottom: 100px;
}


.outcome{
    margin-top: 100px;
}

.outcome .title{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    font-size: 24px;
}
.outcome .title span{
color:#C29729;
}

.outcome p{
    margin-bottom: 50px;
    font-size: 16px;
    margin: 0 360px;
    
} 

/*footer*/

footer{
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
    padding: 15px;
    margin-top: 100px;
} 

.get-in-touch{
    margin-left: 333px;
    font-size: 16px;
    font-weight: 600;
}
.contact a{

    background: white;
    color: black;
    font-size: 18px;
    padding: 3px 20px;
    border-radius: 10px;
    border: 2px solid #C29729;
    transition: all 0.3s ease; 
    float: right;
    margin-right: 15%;
    margin-top: -33px;
}

.contact a:hover{
    color:white;
    background: #C29729;
}


@media (max-width: 1104px){
    .solution .title,
    .challenge .title,
    .outcome .title,
    .general .content{
    margin: 0px 90px;

}

    .solution .title,
    .challenge .title,
    .outcome .title{
    font-size: 20px;
    }

.general {
    margin: 10px 80px;
}

    h1{
        margin: 10px 63px
    }
  ul{
    margin: 10px 40px;
  }
    .intro{
        margin-top: -250px;
        margin-bottom: 300px;
        text-align: left;
        margin-left: 63%;
    }
    .text-1{
        font-size: 30px;
    }
    
    .text-1 span{
     font-size: 30px;
    }
    .challenge p,
    .main-goal{
        margin: 30px 80px;
    }

    .outcome p{
        margin: 30px 80px;
    }
    .outcome{
        margin: 10px 80px;
    }

    .get-in-touch{
        margin-left: 156px;
        margin-top:-8px;
    }

    .contact a{
        margin-top: -31px;
        padding: 3px 16px;
    }
}

@media (max-width:947px){
    .solution .title,
    .challenge .title,
    .outcome .title{
    margin: 30px 80px;

}
  .navbar .logo a{
            margin-left: -61px;
        }
    .solution .title,
    .challenge .title,
    .outcome .title{
    font-size: 20px;
    }

    .general .content{
        margin: 30px 30px;
    }

    .intro{
        margin-top: -180px;
        margin-bottom: 150px;
        text-align: left;
        margin-left: 64%;
    }
    .text-1{
        font-size: 20px;
    }
    
    .text-1 span{
     font-size: 20px;
    }

    h1{
        margin: 0px 63px
    }


    .challenge p,
    .main-goal{
        margin: 30px 80px;
    }

    .outcome p{
        margin: 30px 80px;
    }
    .outcome{
        margin: 10px 80px;
    }

    .get-in-touch{
        margin-left: 156px;
        margin-top:-8px;
        font-size: 15px;
    }

    .contact a{
        margin-top: -31px;
        padding: 3px 10px;
    }

    .portfolija-home{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    
    }

    .candidates{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    
    .studenti{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }

    
    .student{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    
    .sovet{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    
}

@media (max-width:560px){
    .solution .title,
    .challenge .title,
    .outcome .title{
    margin: 30px 20px;

}

    .solution .title,
    .challenge .title,
    .outcome .title{
    font-size: 18px;
    }

    .general .content{
        margin: 10px 10px;
    }
    .img .main {
        width: 100%;
        height: 100%;
    }

    .intro{
        margin-top: -120px;
        margin-bottom: 150px;
        text-align: left;
        margin-left: 64%;
    }
    .title-mob{
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }
    .text-1,
    .text-2{
        display: none;
    }
    
    h1{
        margin: 0px 63px;
        font-size: 18px;
    }
    .challenge p,
    .main-goal{
        margin: 30px 20px;
    }

    .outcome p{
        margin: 30px 20px;
    }
    .outcome{
        margin: 10px 80px;
    }

    .get-in-touch{
        margin-left: 156px;
        margin-top:-8px;
        font-size: 15px;
    }

    .contact a{
        margin-top: -31px;
        padding: 3px 10px;
    }

    .portfolija-home{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:10px;
    
    }

    .candidates{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    
    .studenti{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }

    
    .student{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    
    .sovet{
        height: 100%;
        width: 90%;
        margin-top: 50px;
        margin-left:9%;
    }
    .get-in-touch{
        margin-left: 80px;
        margin-top:-8px;
        font-size: 14px;
    }

    .contact a{
        margin-top: -31px;
        padding: 2px 10px;
        font-size: 16px;
    }
}

   @media (max-width:465px){
    .get-in-touch{
        display: none;
    }

    .title-mob{
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }
    .web-title{
        display: none;
    }
    .general{
        margin: 10px 30px -40px;
    }
    .challenge,
    .solution,
    .outcome{
        margin: 80px 10px 50px 30px;
    }
    .candidates,
    .studenti,
    .student,
    .sovet{
        margin-left: -5%;
    }
    footer{
        margin-top: 50px;
        padding: 25px;
    }

    .contact a{
        margin-top: -16px;
        padding: 2px 10px;
        font-size: 16px;
        margin-right: 30%;

    }
   }


    @media (max-width:400px){
        

        .navbar .logo a{
            margin-left: -61px;
        }

        .general{
            margin: 10px 30px;
        }
        .text-1,
        .text-2{
           display: none;
        }    
        .title-mob{
            display: block;
            margin-bottom: 30px;
            font-size: 20px;
            text-align: center;
        }
        .web-title{
            display: none;
        }
        ul{
            margin: 0 0;
        }

        li{
        margin: 20px -9px;
        }
        
        .challenge,
        .solution,
        .outcome{
            margin: 80px 10px 50px 30px;
        }
       

        .candidates,
        .studenti,
        .student,
        .sovet{
            margin-left: -5%;
        }

        footer{
            margin-top: 50px;
            padding: 25px;
        }

        .contact a{
            margin-top: -16px;
            padding: 2px 10px;
            font-size: 16px;
            margin-right: 30%;
    
        }
        .get-in-touch{
            display: none;
        }
    }


